# Python
__pycache__/

# PyTorch Lightning
lightning_logs/
.pytest_cache/

# Project specific
/runs/
/concorde_temp/
scripts/local_uniform/

# Allow images in the images directory for documentation
!/images/feature_example1.png
!/images/feature_example2.png

.env
